<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../static/img/logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/font.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/program.css"/>
    <meta name="google-site-verification" content="pYV9uCjZ9IZ6oGWY1fYbKbA0PnyFXyBoUrakJEdtqb4"/>

    <title>XXIII Российская выставка племенных овец и коз</title>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) {
                if (document.scripts[j].src === r) {
                    return;
                }
            }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(93356327, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/93356327" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

</head>
<body class="page">


<div class="page__container">
    <header class="header">

        <a href="#">
            <img src="/static/img/text.svg" class="logo__menu">
        </a>
        <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
        <nav class="nav">

            <ul class="header_list">
                <li class="header_wrap"><a href="/" class="header_link">О ВЫСТАВКЕ</a></li>
                <li class="header_wrap"><a href="/work_program" class="header_link">ПРОГРАММА</a></li>
                <li class="header_wrap"><a href="exponents/all" class="header_link">ЭКСПОНЕНТЫ</a></li>
                <li class="header_wrap"><a href="/location" class="header_link">МЕСТО ПРОВЕДЕНИЯ</a></li>
                <li class="header_wrap"><a href="/expert" class="header_link">ЭКСПЕРТНАЯ КОМИССИЯ</a></li>
                <li class="header_wrap"><a href="/funder" class="header_link">ОРГАНИЗАТОРЫ</a></li>
                <li class="header_wrap"><a href="/contact" class="header_link">КОНТАКТЫ</a></li>
            </ul>


        </nav>

    </header>
    <main class="content">
        <section class="lead">
            <img src="/static/img/logo.png" class="lead__logo" alt="XXIII Российская выставка племенных овец и коз">
            <h1 class="lead__title"><a class="lead__link" href="/">XXIII Российская выставка племенных овец и
                коз</a>
            </h1>
        </section>
    </main>
</div>

<main role="main" class="container">
    {% block content %}{% endblock %}
</main>

<div class="page__container">
    <footer class="footer">
        <h2 class="footer__title">КОНТАКТЫ</h2>
        <div class="footer__wrap">
            <div class="footer__adress">
                <p class="ur-adress"><b>Адрес выставки:</b></p>
                <p class="ur-adress">Республика Дагестан, г. Каспийск, пр-кт Акулиничева д. 21,
                    стадион «Анжи- Арена».<br>
                    С 16 по 19 мая 2023 года</p>
                <p class="ur-adress"><b>Тел.: </b><a class="footer__link" href="tel:+7 928 522-49-16
+7 928 805-19-25"><b>+7 928 522-49-16
                    +7 928 805-19-25</b></a></p>
                <p class="ur-adress">E-mail: <a class="footer__link" href="https:vystavka@fancrd.ru"><b>vystavka@fancrd.ru</b></a>
                </p>
                <div class="footer__telegram">
                    <p class="telegram__text">Наш телеграм канал: </p>
                    <a class="telegram__link" href="https://t.me/vystavka_ovec"><img src="/static/img/Telegram_logo.svg"
                                                                                     class="telegram__logo"></a>
                </div>
                <div class="footer__autor ">© <b>XXIII Российская выставка племенных овец и коз<br/></b></div>

            </div>

            <div class="box_map">

                <iframe
                        src="https://yandex.ru/map-widget/v1/?um=constructor%3A8dc2a04d21b6a6a1eef0e9268dbdbc7e28ab991b8cfc962ae3d6197219f1ddd5&amp;source=constructor"
                        width="320" height="320" frameborder="0"></iframe>
            </div>

        </div>

    </footer>
</div>

</body>
</html>