0{% extends "base.html" %}

{% block content %}
    <section class="experts">

        <div class="expert_main_title">
            <h1>Экспертная комиссия XXIII Российской выставки племенных овец и коз</h1>
        </div>

        <div class="expert__subtitle">
            <h1>Председатель комиссии</h1>
        </div>

        <div class="expert__first">
            <div class="expert__box">
                <img class="expert__image" alt="Суров Александр Иванович" src="/static/img/experts/surov.jpg">
                <h2>Суров Александр Иванович</h2>
                <h3>Директор Всероссийского научно-исследовательского института овцеводства и козоводства – филиала
                    ФГБНУ «Северокавказский ФНАЦ», доктор сельскохозяйственных наук</h3>
            </div>
        </div>

        <div class="expert__second">
            <div class="expert__subtitle_second">
                <div class="expert__subtitle_second_item">
                    <div><h1>Члены комиссии по тонкорунным породам:</h1></div>
                    <div class="expert__box">
                        <img class="expert__image" alt="Хожоков Абдусалам Асадулаевич"
                             src="/static/img/experts/hozhokov.jpg">
                        <h2>Хожоков Абдусалам Асадулаевич</h2>
                        <h3>Представитель НО «Национальный союз овцеводов» в Республике Дагестан, кандидат
                            сельскохозяйственных наук, заместитель председателя Комиссии</h3>
                    </div>


                    <div class="expert__box">
                        <img class="expert__image" alt="Шумаенко Светлана Николаевна"
                             src="/static/img/experts/shumanenko.jpg">
                        <h2>Шумаенко Светлана Николаевна</h2>
                        <h3>Заместитель директора по науке ВНИИОК – филиала ФГБНУ
                            «Северокавказский ФНАЦ», кандидат сельскохозяйственных
                            наук, ответственный секретарь Комиссии</h3>
                    </div>


                    <div class="expert__box">
                        <img class="expert__image" alt="Лиджиева Кермеш Цедеевна"
                             src="/static/img/experts/random.jpg">
                        <h2>Лиджиева Кермеш Цедеевна</h2>
                        <h3>Hачальник отдела животноводства и племенного дела
                            Министерства сельского хозяйства Республики Калмыкия.
                            кандидат сельскохозяйственных наук</h3>
                    </div>


                    <div class="expert__box">
                        <img class="expert__image" alt="Омаров Арслан Ахметович"
                             src="/static/img/experts/omarov.jpg">
                        <h2>Омаров Арслан Ахметович</h2>
                        <h3>Заведующий отделом овцеводства и козоводства ВНИИОК –
                            филиала ФГБНУ «Северокавказский ФНАЦ», кандидат
                            сельскохозяйственных наук</h3>
                    </div>

                    <div class="expert__box">
                        <img class="expert__image" alt="Фейзуллаев Фейзуллах Рамазанович"
                             src="/static/img/experts/feizullaev.jpg">
                        <h2>Фейзуллаев Фейзуллах Рамазанович</h2>
                        <h3>Заведующий кафедрой генетики и разведения животных ФГБОУ
                            ВО «Московская государственная академия ветеринарией
                            медицины и биотехнологии – МВА имени К.И. Скрябина» ,
                            доктор сельскохозяйственных наук</h3>
                    </div>

                    <div class="expert__box">
                        <img class="expert__image" alt="Белик Николай Иванович"
                             src="/static/img/experts/random.jpg">
                        <h2>Белик Николай Иванович</h2>
                        <h3>Старший научный сотрудник лаборатории по тестированию и
                            сертификации качества шерсти ФГБНУ ВНИИплем, доктор
                            сельскохозяйственных наук</h3>
                    </div>


                </div>
                <div class="expert__subtitle_second_item">
                    <div><h1>Члены Комиссии по полутонкорунным, грубошерстным
                        породам
                        овец и козам</h1></div>

                    <div class="expert__box exp_kstl">
                        <img class="expert__image" alt="Болаев Баатр Канурович"
                             src="/static/img/experts/bolaev.jpg">
                        <h2>Болаев Баатр Канурович</h2>
                        <h3>и.о. заведующего кафедрой технологии и животноводства
                            ФГБОУ ВО «Калмыцкий государственный университет имени
                            Б.Б. Городовикова», доктор сельскохозяйственных наук,
                            заместитель председателя Комиссии</h3>
                    </div>


                    <div class="expert__box">
                        <img class="expert__image" alt="Махмудов Мамед Бехетович"
                             src="/static/img/experts/random.jpg">
                        <h2>Махмудов Мамед Бехетович</h2>
                        <h3>Cтарший специалист управления отгонного животноводства
                            Республики Дагестан</h3>
                    </div>

                    <div class="expert__box">
                        <img class="expert__image" alt="Новопашина Светлана Ивановна"
                             src="/static/img/experts/novopashina.jpg">
                        <h2>Новопашина Светлана Ивановна</h2>
                        <h3>Ведущий научный сотрудник отдела разведения и селекции овец
                            и коз ФГБНУ ВНИИплсм, доктор сельскохозяйственных наук</h3>
                    </div>

                    <div class="expert__box">
                        <img class="expert__image" alt="Гаджиев Закир Камилович"
                             src="/static/img/experts/gadzhiev.jpg">
                        <h2>Гаджиев Закир Камилович</h2>
                        <h3>Заведующий отделом животноводства и ветеринарной медицины
                            ВНИИОК - филиала ФГБНУ «Северокавказский ФНАЦ», доктор
                            биологических наук</h3>
                    </div>


                    <div class="expert__box">
                        <img class="expert__image" alt="Хататаев Салауди Абдулхаджиевич"
                             src="/static/img/experts/random.jpg">
                        <h2>Хататаев Салауди Абдулхаджиевич</h2>
                        <h3>Ведущий научный сотрудник лаборатории информационного
                            обеспечения селекционно-племенной работы в овцеводстве
                            ФГБНУ ВНИИплсм, доктор биологических наук</h3>
                    </div>


                    <div class="expert__box">
                        <img class="expert__image" alt="Юлдашбаев Юсупжан Артыкович"
                             src="/static/img/experts/uldashbaev.jpg">
                        <h2>Юлдашбаев Юсупжан Артыкович</h2>
                        <h3>Декан зооинженерного факультета ФГБОУ ВО «РГАУ-МСХА
                            имени К.А. Тимирязева», доктор сельскохозяйственных наук</h3>
                    </div>

                    <div class="expert__box">
                        <img class="expert__image" alt="Куликова Анна Яковлевна"
                             src="/static/img/experts/random.jpg">
                        <h2>Куликова Анна Яковлевна</h2>
                        <h3>Главный научный сотрудник отдела разведения, селекции и
                            генетики сельскохозяйственных животных ФГБНУ
                            «Краснодарский научный центр по зоотехнии и ветеринарии»,
                            доктор сельскохозяйственных наук</h3>
                    </div>


                </div>
            </div>
        </div>
    </section>
{% endblock %}