{% extends "base.html" %}

{% block content %}
    <section class="funder">
        <article>
            <h1 class="funder__title">ОРГАНИЗАТОРЫ</h1>
        </article>
        <article class="funder__box">

            <div class="funder__box_item_element">
                <a class="funder__link " href="https://mcx.gov.ru/">
                    <div class="funder__name minselhoz"></div>
                </a>
                <h2>Министерство сельского хозяйства Российской Федерации</h2>
            </div>


            <div class="funder__box_item_element">
                <a class="funder__link" href="https://www.e-dag.ru/">
                    <div class="funder__name prd"></div>
                </a>
                <h2>Правительство Республика Дагестан</h2>
            </div>

            <div class="funder__box_item_element">
                <a class="funder__link" href="https://rnso.net">
                    <div class="funder__name rnso"></div>
                </a>
                <h2>Министерство сельского хозяйства Российской Федерации</h2>
            </div>

            <div class="funder__box_item_element">
                <a class="funder__link" href="https://fancrd.ru">
                    <div class="funder__name fanc"></div>
                </a>
                <h2>Федеральный аграрный научный центр Республики Дагестан</h2>
            </div>

        </article>
    </section>


{% endblock %}