{% extends "base.html" %}

{% block content %}

<section class="exhibition">
    <h2 class="exhibition__title">О ВЫСТАВКЕ</h2>
    <p class="exhibition__text">XXIII Российская выставка племенных овец и коз пройдет в
        Республике Дагестан с 16 по 19 мая 2023 года</p>
    <p class="exhibition__text">Выставка племенных овец и коз проводится с целью пропаганды
        передового опыта ведения племенного овцеводства, улучшения племенного
        дела, широкого распространения и внедрения опыта передовых хозяйств и
        научных достижений.</p>
    <p class="exhibition__text">Выставка позволит показать широту проводимой в отечественном
        овцеводстве селекционно-племенной работы, которая помогает при
        наименьших затратах производить больше конкурентоспособной продукции.</p>
    <p class="exhibition__text">В выставке примут участие более 80 ведущих племенных хозяйств по
        разведению овец и коз и сельхозтоваропроизводителей коммерческого
        поголовья из 13 регионов России, которые представят более 450 голов овец и
        коз.</p>
    <ul class="exhibition__list">
        <li>- 6 федеральных научных институтов</li>
        <li>- Региональные подворья</li>
        <li>- Работа экспертной комиссии по оценке животных, награждение
            победителей
        </li>
        <li>- Общее собрание членов Национального союза овцеводства</li>
        <li>- Научно-практические конференции, семинары и мастер-классы</li>
    </ul>
    <p class="exhibition__text">Гостями выставки станут ученые и научные деятели, работающие в
        отрасли овцеводства и козоводства, специалисты Минсельхоза России,
        представители органов управления АПК регионов РФ, племенных служб
        регионов страны и многие другие.</p>
    <p class="exhibition__text">В рамках мероприятия пройдут также три тематических круглых стола:
        по вопросам интенсификации производства баранины, разработки
        механизмов повышения рентабельности производства шерсти, а также по
        подготовке кадров АПК (в первую очередь для овцеводства).</p>
    <p class="exhibition__text">Участие в выставке принимают:</p>
    <ul class="exhibition__list">
        <li>- Племенные овцеводческие и козоводческие предприятия Южного,
            Северо-Кавказского, Приволжского и Северо-Западного федеральных
            округов;
        </li>
        <li>- Организации, осуществляющие свою деятельность по разведению
            овец и коз с улучшенной мясной продуктивностью;
        </li>
        <li>- Организации, взаимодействующие с сельхозтоваропроизводителями в
            области овцеводства и козоводства по вопросам научного, зоотехнического и
            ветеринарного обеспечения, кормления животных, переработки продукции;
        </li>
        <li>- Предприятия по производству, переработке и реализации продукции
            овцеводства и козоводства.
        </li>
    </ul>
    <p class="exhibition__text">На выставке будут представлены следующие породы овец и коз:
        ставропольская, советский меринос, манычский меринос, джалгинский
        меринос, черноземельский меринос, российский мясной меринос, артлухский
        меринос, сарпинскую, грозненская, волгоградская, дагестанская горная,
        северокавказская мясо-шерстная, советская мясо-шерстная, южная мясная,
        ташлинская, калмыцкая курдючная, карачаевская, лезгинская, тушинская,
        андийская, эдильбаевская, зааненская, нубиан, а также зарубежные породы:
        дорпер, оксфорд даун, мериноленд.</p>
</section>

{% endblock %}