{% extends "base.html" %}

{% block content %}
    <br>
    <section class="location">
        <h1 class="location__title">МЕСТО ПРОВЕДЕНИЯ</h1>

        <p class="location__text">XXIII Российская выставка племенных овец и коз пройдет на территории
            стадиона «Анжи-Арена» (Республика Дагестан, г. Каспийск, пр-кт
            Акулиничева д. 21).</p>
        <p class="location__text">Время посещения: с 10:00 до 18:00 часов, с 16 по 19 мая 2023 года.</p>
        <p class="location__text">Вход на выставку свободный. Для участников выставки с поголовьем и для официальных делегаций имеется бесплатная парковка для машин.</p>
        <h2 class="location__subtitle">Как добраться</h2>
        <p class="location__text">На личном транспорте:</p>
        <p class="location__text">По автодороге Р-217 «Кавказ» (бывшая трасса Ростов-Баку) на 821 км разворот и съезд на
            поворот «Новый Хушет».</p>
        <p class="location__text">На общественном транспорте:</p>
        <p class="location__text">Из г. Махачкалы от остановки транспорта Каспийская (пр-кт Р. Гамзатова) выйти на
            остановке «Стадион Анжи-Арена 2»: </p>
        <p class="location__text">- автобус 100;</p>
        <p class="location__text">- маршрутка 126 (Махачкала-Каспийск);</p>
        <p class="location__text">- троллейбусы 3 или 12;</p>
        <p class="location__text">Из г. Каспийска от автовокзала (ул. Орджоникидзе, 6), выйти на остановке «с/м
            Бабаевский»:</p>
        <p class="location__text">- маршрутка 126 (Каспийск-Махачкала);</p>
        <p class="location__text">Из Международного Аэропорта «Махачкала» - на такси, 12 км.»</p>

        <h2 class="location__subtitle">Инфраструктура.</h2>

        <p class="location__text">На территории Стадиона «Анжи-Арена» имеются 3 кафе, точки быстрого
            питания, отель, детский городок, картинг и т.д.</p>
        <p class="location__text">Пляж Каспийского моря находится на расстоянии 400 м от места проведения
            Выставки.</p>

        <h2 class="location__subtitle">Ветеринария.</h2>
        <p class="location__text">Для оформления ветеринарных сопроводительных документов на Выставку
            создана площадка:</p>
        <ul>
            <li class="location__list">ИС «Меркурий» – № RU11078024;</li>
            <li class="location__list">ИС «Цербер» – № RU005:83683031, XXIII Российская выставка племенных
                овец и коз, Российская Федерация, Республика Дагестан, г. Каспийск,
                Акулиничева пр-кт, д. 21, Стадион «Анжи-Арена»
            </li>
        </ul>
        <iframe class="location__map"
                src="https://yandex.ru/map-widget/v1/?um=constructor%3A8dc2a04d21b6a6a1eef0e9268dbdbc7e28ab991b8cfc962ae3d6197219f1ddd5&amp;source=constructor"
                width="640" height="640" frameborder="0"></iframe>
    </section>

{% endblock %}