{% extends "base.html" %}

{% block content %}
    <h1 class="program__title">Программа выставки</h1>
    <div class="wrapper">
        <div class="box_clock_8 box_clock_template"><h1>8:00</h1></div>
        <div class="box_clock_9 box_clock_template"><h1>9:00</h1></div>
        <div class="box_clock_10 box_clock_template"><h1>10:00</h1></div>
        <div class="box_clock_11 box_clock_template"><h1>11:00</h1></div>
        <div class="box_clock_12 box_clock_template"><h1>12:00</h1></div>
        <div class="box_clock_13 box_clock_template"><h1>13:00</h1></div>
        <div class="box_clock_14 box_clock_template"><h1>14:00</h1></div>
        <div class="box_clock_15 box_clock_template"><h1>15:00</h1></div>
        <div class="box_clock_16 box_clock_template"><h1>16:00</h1></div>
        <div class="box_clock_17 box_clock_template"><h1>17:00</h1></div>
        <div class="box_clock_18 box_clock_template"><h1>18:00</h1></div>
        <div class="box_clock_19 box_clock_template"><h1>19:00</h1></div>

        <div class="box_15_title box_date_template">15 мая<br>Понедельник</div>
        <div class="box_15_event_1 box_template">Завоз и размещение выставочных животных и экспонатов на территории
            выставки, работа комиссии по приему животных
        </div>

        <div class="box_16_title box_date_template">16 мая<br>Вторник</div>
        <div class="box_16_event_1 box_template">Выступление коллективов художественной самодеятельности Республики
            Дагестан
        </div>
        <div class="box_16_event_2 box_template">Официальное открытие ХХШ Российской выставки племенных овец и коз</div>
        <div class="box_16_event_3 box_template">Презентации предприятий, организаций и фирм по технологии кормления
            животных, переработки козоводства
        </div>

        <div class="box_17_title box_date_template">17 мая<br>Среда</div>
        <div class="box_17_event_1 box_template">Работа экспертной комиссии по – оценке представленных животных и
            экспозиции выставки
        </div>
        <div class="box_17_event_2 box_template">Круглый стол «Пути повышения мясной продуктивности овец и поставка
            качественной баранины на внутренний и внешний рынок»
        </div>
        <div class="box_17_event_3 box_template">Круглый стол «Производство и реализация шерсти предприятиям легкой
            промышленности страны и на и текстильной зарубежный рынок»
        </div>

        <div class="box_18_title box_date_template">18 мая<br>Четверг</div>
        <div class="box_18_event_1 box_template">Работа экспертной комиссии по оценке животных и экспозиции выставки,
            подготовка материалов
        </div>
        <div class="box_18_event_2 box_template">Пленарное совещание «Российское овцеводство козоводство. Достижения и
            перспективы развития»
        </div>
        <div class="box_18_event_3 box_template">Практический семинар «Кадровый вопрос в овцеводстве – залог
            стабильности отрасли»
        </div>
        <div class="box_18_event_4 box_template">Общее собрание членов Национального союза овцеводов</div>
        <div class="box_18_event_5 box_template">Подготовка итогового протокола экспертной комиссии и выставочного
            комитета
        </div>

        <div class="box_19_title box_date_template">19 мая<br>Пятница</div>
        <div class="box_19_event_1 box_template">Выступление коллективов художественной самодеятельности регионов</div>
        <div class="box_19_event_2 box_template">Осмотр делегациями племенных животных и экспозиции выставки</div>
        <div class="box_19_event_3 box_template">Награждение лауреатов и участников выставки</div>
        <div class="box_19_event_4 box_template">Награждение лауреатов и участников выставки</div>
        <div class="box_19_event_5 box_template">Отъезд участников выставки</div>


    </div>

{% endblock %}